<%- include ('partials/header')  %>
    <div id='icontainer' class="container-fluid">
        <div id='form' class="form-group">
            <h1 id="profile">Oops! Something Went Wrong.</h1>

        </div>
    </div>

    <%- include ('partials/footer')  %>